{% extends 'index.html' %}
{% load static %}

{% block title%}
    HOTEL SENAI - NOME
{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cadastro.css' %}">

<div class="container">
    <div class="form-container">
        <h1>Cadastro</h1>
        <form action="cadastro" method="post" class="cadastro-form">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit">
            
        </form>
    </div>
</div>

{% endblock %}
