{% extends 'index.html' %}
{% load static %}

{% block title%}
    HOTEL SENAI - Login
{% endblock %}

{% block body%}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<div class="container">
    <div class="form-container">
        <h1>Login</h1>
        <form action="{% url 'login' %}" method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_user">Usuário:</label>
                {{ form.user }}
            </div>
            <div class="form-group">
                <label for="id_password">Senha:</label>
                {{ form.password }}
            </div>
            <input type="submit" value="Login" class="submit-button">
        </form>
    </div>
</div>

{% endblock %}
