{% extends 'index.html' %}
{% load static %}

{% block title%}
    HOTEL SENAI
{% endblock %}

{% block body%}
<link rel="stylesheet" type="text/css" href="{% static 'css/quartos.css' %}">

<div class="desc">
    <div class="desc1">
        {% for item in dados_quartos %}
        <h3>Tipo do quarto:</h3>
        {{item.tipo}}
        <h3>Valor:</h3>
        R$ {{ item.valor }}
        <h3>Descrição:</h3>
        {{item.descricao}}
        <h3>Quarto:</h3>
        <img class="desc1"  src="{{item.foto_quarto.url}}" alt="Logo">
        <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        
        {% endfor%}
    </div>
    
</div>
        
    
{% endblock %}