{% extends 'index.html' %}
{% load static %}

{% block title%}
    HOTEL SENAI - NOME
{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reserva.css' %}">

<div class="container">
    <div class="form-container">
        <h1>Reserva</h1>
        <form action="login" method="post" class="reserva-form">
            {% csrf_token %}
            <div>
                <label for="id_nome">Nome:</label>
                {{ form.user }}
            </div>
            <div>
                <label for="id_nome">Nome:</label>
                {{ form.password }}
            </div>
            
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </div>
</div>

{% endblock %}
